<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 				crossorigin="anonymous">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>			
		<script src="/assets/js/burger-logic.js"></script>
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Eat da Burger!</title>
		<link href="https://fonts.googleapis.com/css?family=Bangers|Fontdiner+Swanky|Lobster+Two|Oleo+Script" rel="stylesheet">
	</head>
	<body>
		<img src="/assets/img/8041662.jpg" width="400px" id="burger">
		<div id="body">
			{{{ body }}}
		</div>
		<footer class="burgerFooter">
					<span>© 2018 UNC Nesmith Production</span>
					<a href="https://github.com/Nesmith05">GitHub</a>
		</footer>
	</body>


</html>